<div class="card">
    <img src="assets/images/{{ personne?.path }}" class="card-img-top img-fluid" alt="{{ personne?.name|titlecase }}">
    <div class="card-body">
        <div class="card-body">
            <h5 class="card-title text-center">{{ personne?.name|uppercase }}- {{ personne?.firstname|uppercase }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Job: {{ personne?.job|titlecase }}</li>
            <li class="list-group-item">CIN: {{ personne?.cin }}</li>
            <li class="list-group-item">Age: {{ personne?.age }}</li>
        </ul>
        <div class="mt-2">
            <button type="button" class="btn btn-outline-primary" (click)="embaucher()">Embaucher</button>
            <button type="button" class="btn btn-outline-success float-right" (click)="moredetail()">Voir plus</button>
        </div>
    </div>
</div>
