<nav class="navbar navbar-expand-sm fixed-top  bg-dark" id="navbar">
    <div class="container px-4">
        <a class="navbar-brand" href="">
            <strong class="text-uppercase" id="logo">Learnzia</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="">
                            <strong id="logo">Learnzia</strong>
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbar-collapse-main" aria-controls="sidenav-main"
                                aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item">
                    <a href="" class="nav-link" role="button">
                        <span class="nav-link-inner--text">Acceuil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" role="button">
                        <span class="nav-link-inner--text">Abonnement</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" role="button">
                        <span class="nav-link-inner--text">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
