<nav class="navbar navbar-expand-sm fixed-top  bg-dark" id="navbar">
    <div class="container px-4">
        <a class="navbar-brand" [routerLink]="['']">
            <strong class="text-uppercase" id="logo">Learnzia</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item">
                    <a [routerLink]="['cv']" routerLinkActive="active" class="nav-link" role="button">
                        <span class="nav-link-inner--text">Acceuil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['']" class="nav-link" routerLinkActive="active" role="button">
                        <span class="nav-link-inner--text">Abonnement</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['']"  class="nav-link" routerLinkActive="active" role="button">
                        <span class="nav-link-inner--text">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
