<div class="container pt-5 mt-4">
    <form  #formulaire="ngForm" >
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" required ngModel name="name" id="name" class="form-control">
        </div>
        <div class="form-group" *ngIf="input.invalid && input.touched">
            <label for="first-name">First-name:</label>
            <input type="text" #input="ngModel" required ngModel name="first-name" id="first-name" class="form-control">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" required ngModel name="age" id="age" class="form-control">
        </div>
        <div class="form-group">
            <label for="job">Job:</label>
            <input type="text" required ngModel name="job" id="job" class="form-control">
        </div>
        <div class="form-group">
            <label for="cin">Cin:</label>
            <input type="number" required ngModel name="cin" id="cin" class="form-control">
        </div>
        <div class="form-group">
            <label for="path">Picture</label>
            <input type="file" required ngModel name="path" id="path" class="form-control">
        </div>
        <div class="text-right">
            <button [disabled]="formulaire.invalid" class="alert alert-success" (click)="addPersonne(formulaire)">Enregistrer</button>
        </div>
    </form>
</div>
